/* Please don't look at my CSS. */
/* Tufte CSS overrides */
html { font-size: 12.5px; }

/* Smaller width for reading since org doesn't generate sidenotes */
body { max-width: 789px;
       width: 84%;
       padding-left: 8%;
       padding-right: 8%; /* Tufte only sets left, which is unbalanced */
     }

/* Adder deeper headings */
h4 { font-style: italic;
     font-weight: 400;
     font-size: 1.5rem;
     margin-top: 1.8rem;
     margin-bottom: 0;
     line-height: 1; }

h5 { font-style: italic;
     font-weight: 400;
     font-size: 1.5rem;
     margin-top: 1.8rem;
     margin-bottom: 0;
     line-height: 1; }

h6 { font-style: italic;
     font-weight: 400;
     font-size: 1.5rem;
     margin-top: 1.8rem;
     margin-bottom: 0;
     line-height: 1; }

#preamble {
    max-width: 90%;
    clear:both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin-right: .6em;
}
nav ul li:not(:first-child) {
    margin-top: 0; // override tufte list spacing
}

.feed_icon {
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

section { padding-top: 0;
          padding-bottom: 0; }

/* Not Roman numerals */
.numeral { font-family: inherit; }

p, ol, ul { text-align: justify; }

blockquote p { width: 75%; }

blockquote footer { width: 75%; }

/* Wider lists */
ol, ul { /*width: 85%;*/
         padding-left: 1.75rem;
         margin-left: 0;
         overflow-wrap: break-word; }

ul { list-style-type: disc; }

#text-table-of-contents li {
    padding: 0.1rem 0;
    width: 75%; }

a:link { word-wrap: break-word; }

p > p { width: 45%; }

@media screen and (max-width: 760px) { /* p, footer { width: 90%; } */
    /* pre.code { width: 87.5% } */
    ul, ol { width: 92%; }
}

.src { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.125rem;
        line-height: 1.6; }

h1 .src, h2 .src, h3 .src { font-size: 0.80em; }

.marginnote .src, .sidenote .src { font-size: 1rem; }

pre.src { width: 95%;
          padding-left: 2.5%;
          overflow-x: scroll; }

@media (max-width: 760px) {
    body { padding-left: 8%;
           padding-right: 8%;
           max-width: 84%; }
    pre.src { padding: 0; }
}

@media screen and (max-width: 500px) {
    body { padding-left: 0%;
           padding-right: 0%;
           width: 97.5%; }
    ol, ul { width: 92%; }
    li { padding: 0.4rem 0; }

    #text-table-of-contents li { width: 95%; }
}
